@import '_vars'

html.ly
    a
        color: $blue
        text-decoration: none

        &:hover
            text-decoration: underline

    &, body
        margin: 0
        padding: 0
    
    body
        margin: 3rem

    scroll-behavior: smooth

    color: $fg
    background: $bg

    input
        padding: 5px
        font-size: large

        color: $fg
        border: none
        background: $bg-grey

        outline: 3px solid transparent
        border-radius: 5px

        &[type="file"]
            cursor: pointer

        &:focus
            outline-color: $active-input

    div.ly-item
        color: white
        display: inline-block

        div.ly-cover
            cursor: pointer
            position: relative

            div.ly-gradient
                // border-radius: 10px
                cursor: pointer
                overflow: hidden
                display: inline-block
                position: relative

                &:after
                    content: ""
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    display: inline-block
                    background: linear-gradient(90deg, rgba(0,0,0,0.9247899843531162) 0%, rgba(0,0,0,0.4878151944371498) 37%, rgba(255,255,255,0) 100%)

                img
                    overflow: hidden
                    display: block
                    height: 300px

            span.ly-title
                font-size: 2rem
                font-weight: 300
                bottom: 1rem
                left: 1rem
                position: absolute

        &:hover img
            filter: blur(2deg)
            transform: scale(1.3)

        &:hover span.ly-title
            transform: translateY(-1rem)

        &:hover span.ly-text
            opacity: 0.9

        span.ly-text
            opacity: 0
            left: 1rem
            bottom: 1rem
            position: absolute

            font-family: monospace

    footer.ly
        opacity: 0.8
        margin: 5rem
        margin-left: auto
        margin-right: auto
        width: 50%
        text-align: center

    div.ly-or
        margin: 1rem

        hr
            display: inline-block
            width: 100px
        
        span
            margin: 1rem

*
    font-family: 'Inter', sans-serif
    transition: 0.3s

@supports (font-variation-settings: normal)
    *
        font-family: 'Inter var', sans-serif
